.App {
  text-align: center;
  flex-direction: row;
  display: flex;
  background-color: #282c34;
  color: white;
}

.Drawer {
  background-color: rgba(100, 100, 100, 0.1);
}

.Drawer button {
  border: 0px none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  padding: 8px;
}

.Drawer button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.Game {
  display: flex;
  min-height: 100vh;
  margin: auto;
  vertical-align: middle;
}

.Game td {
  padding: 40px;
  opacity: 0.5;
  cursor: pointer;
}

.Game .odd {
  background-color: rgba(0, 0, 0, 0.3);
}

.Game .even {
  background-color: rgba(100, 100, 100, 0.3);
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
}

.Game td:hover {
  opacity: 1;
  transition: 200ms all;
}
